<h1>Edit</h1>
<form action="/classes/<%=@klass.id%>/edit" method="post">
    <div class="form-group">
        <label for="klass_name">Name</label>
        <input class="form-control" type="text" name="klass[name]" id="klass_name" value="<%=@klass.name%>" autofocus>
    </div> 
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" type="text" name="klass[description]" id="description" value="<%=@klass.description%>">
    </div>
    <div class="form-group">
       <label>Students</label><br>
        <% Student.all.each do |student| %>
        <input type=checkbox name="klass[student_ids][]" value="<%=student.id%>"<%= 'checked' if @klass.students.include?(student) %>><%=student.name %><br>
        <% end %>
    </div>
    <div class="form-group">
        <label>New Student</label>
        <input type="text" name="student[name]">
    </div>
    <input type="submit" id="submit" value="Update Class">
</form>